{% extends "SENotificationBundle::global.html.twig" %}

{% block detailed %}
{% if det_notif != null %}
<div class="well well-black col-md-12">
	<h3>{{ det_notif.title }}</h3>
	<h5>From <strong>{{ det_notif.sender.name }}</strong> to <strong>{{ det_notif.receiver.name }}</strong>
, <strong>{{ det_notif.dateCreationString }}</strong></h5>
	<div class="notif-text">
		{{ det_notif.text }}
	</div>
</div>
{% endif %}
{% endblock %}