{% extends "SETransferBundle::layout.html.twig" %}

{% block title %}
  New transfer - {{ parent() }}
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block setransfer_header %}
  
  <header class="h-sap">
  	<div class="line"></div>
  	<h2><i class="glyphicon glyphicon-retweet"></i> Ask for new transfer (part2)</h2>
  </header>

{% endblock %}

{% block setransfer_body %}
<form style="color: black;" method="POST">
{{ form_start(form) }}
	{{ form_errors(form) }}
    {{ form_row(form.employee) }}
    <button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}
</form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}