{% extends "SETransferBundle::layout.html.twig" %}

{% block title %}History - {{ parent() }}{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block setransfer_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-folder-open"> </i> Past transfers</h2>
	</header>
{% endblock %}

  
{% block setransfer_body %}
<div id="transfer-history" class="well well-black col-md-12">	
	{{ form(form) }}
	
	<div class="table-responsive">
		<table id="transfers" class="table">
			<thead>
				<tr>
					<th>Employee</th>
					<th>From</th>
					<th>To</th>
					<th>Activity</th>
					<th>Hours</th>
					<th>Date</th>
					<th>Validated</th>
				</tr>
			</thead>
			<tbody>
				{% for transfer in listTransfers|reverse %}
				{% if date(transfer.dateStart) < date('-1days') %}
			      	<tr>
			      		<td>{{ transfer.employee.name }}</td>
			      		<td>{{ transfer.employee.defaultTeam.departement.name }}</td>
			      		<td>{{ transfer.departement.name }}</td>
			      		<td>{% if transfer.validated == 1 and transfer.activity != null %}{{ transfer.activity.name }}{% else %}
			      			{%  if transfer.validated >= 2 %}-
			      			{% else %}undefined{% endif %}{% endif %}</td>
			      		<td>{{ transfer.totalHours }}</td>
			      		<td>{{ transfer.dateStartString }}</td>
			      		<td>{% if transfer.validated == 1 %}
			      			<i style="color: green;" class="glyphicon glyphicon-ok-sign"> </i>{% else %}
			      			{%  if transfer.validated == 2 %} <i style="color: red;" class="glyphicon glyphicon-remove-sign"> </i>
			      			{% else %} <i style="color: #f60;" class="glyphicon glyphicon-question-sign"> </i> {% endif %}{% endif %}
						</td>
					</tr>
				{% endif %}
			    {% else %}
			    <tr><td> No transfer </td></tr>
			    {% endfor %}
			 </tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
  	$('#transfers').DataTable( {
		"paging": true,
	  	"dom": 'rtip',
	  	"info": false,
	  	"order": [[ 4, "desc" ]]
	});
  </script>
  
{% endblock %}