{% extends "SETransferBundle::layout.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block setransfer_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-home"> </i> Transfer Dashboard</h2>
	</header>
{% endblock %}

  
{% block setransfer_body %}

	<div class="well well-black col-md-12">
		<h3>Transfers</h3>
		<div class="table-responsive">
			<table id="imports" class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Employee</th>
						<th>From</th>
						<th>To</th>
						<th>Date</th>
						<th>Validated</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for transfer in listTransfers %}
			      		<tr>
			      			<td>{{ transfer.id }}</td>
			      			<td>{{ transfer.employee.name }}#{{ transfer.employee.id }}</td>
			      			<td>{{ transfer.employee.defaultTeam.departement.name }}</td>
			      			<td>{{ transfer.departement.name }}</td>
			      			<td>{{ transfer.dateStartString }}</td>
			      			<td>{% if transfer.validated %}
			      				<i style="color: green;" class="glyphicon glyphicon-ok"> </i>
			      				{% else %} <i style="color: red;" class="glyphicon glyphicon-remove"> </i> {% endif %}
							</td>
							<td>{% if transfer.departement.id == usrDepId and is_granted('ROLE_TRANSFER_EDIT') and not transfer.validated %}
								<a href="{{ path('se_transfer_accept', {'transfer_id': transfer.id }) }}" role="button" class="btn btn-success btn-sm">Accept</a>
								<a href="{{ path('se_transfer_refuse', {'transfer_id': transfer.id }) }}" role="button" class="btn btn-warning btn-sm">Refuse</a>
								{% endif %}
							</td>
						</tr>
			    {% else %}
			      <tr><td> No transfer </td></tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
		{% if usrDepId != -1 %}
		<a href="{{ path('se_transfer_add') }}" role="button"
		class="btn btn-primary">Ask for new transfer</a>
		{% endif %}
	</div>
	
	<div class="well well-black col-md-12">
		<h3>Employees</h3>
		<div class="table-responsive">
			<table id="imports" class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Job</th>
						<th>Team</th>
						<th>Departement</th>
					</tr>
				</thead>
				<tbody>
					{% for employee in listEmployees %}
						{% if usrDepId == employee.defaultTeam.departement.id %}
			      		<tr>
			      			<td>{{ employee.id }}</td>
			      			<td>{{ employee.name }}</td>
			      			<td>{{ employee.job.description }}</td>
			      			<td>{{ employee.defaultTeam.name }}</td>
			      			<td>{{ employee.defaultTeam.departement.name }}</td>
						</tr>
			    		{% endif %}
			    {% else %}
			      <tr><td> No employee listed in your departement </td></tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}