{% extends "SETransferBundle::layout.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block setransfer_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-home"> </i> Transfer Dashboard</h2>
	</header>
{% endblock %}

  
{% block setransfer_body %}
<div class="well well-black col-md-12">
	<p>{{ monthlytotal }} transfers requested for this month.<br>
	{% if monthlytotal > 0 %}
		{% if confirmed > 0 %}<strong style="color: green;">
			{{ confirmed }} ({{ '%.0f'|format(100 * confirmed / monthlytotal) }}%)</strong> confirmed.<br>{% endif %}
		{% if refused > 0 %}<strong style="color: red;">
			{{ refused }} ({{ '%.0f'|format(100 * refused / monthlytotal) }}%)</strong> refused.<br>{% endif %}
		{% if pending > 0 %}<strong style="color: #f60;">
			{{ pending }} ({{ '%.0f'|format(100 * pending / monthlytotal) }}%)</strong> pending.<br>{% endif %}
	{% endif %}
	</p>
	{% if monthlytotal > 0 %}
	<div class="progress">
	  <div class="progress-bar progress-bar-success"
	  style="width: {{ 100 * confirmed / monthlytotal }}%;">
	    <span class="sr-only">confirmed</span>
	  </div>
	  <div class="progress-bar progress-bar-warning"
	  style="width: {{ 100 * pending / monthlytotal }}%;">
	    <span class="sr-only">pending</span>
	  </div>
	  <div class="progress-bar progress-bar-danger"
	  style="width: {{ 100 * refused / monthlytotal }}%;">
	    <span class="sr-only">refused</span>
	  </div>
	</div>
	{% endif %}
	<h3>Current transfers</h3>
	<div class="table-responsive">
		<table id="imports" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Employee</th>
					<th>From</th>
					<th>To</th>
					<th>Activity</th>
					<th>Hours</th>
					<th>Date</th>
					<th>Validated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for transfer in listTransfers %}
				{% if date(transfer.dateStart) > date('-1days') or transfer.validated == 0 %}
			      	{% if date(transfer.dateStart) < date() and transfer.validated == 0 %}
			      		<tr class="transfer-late danger">
			      	{% else %}
			      		{% if date(transfer.dateStart) < date('+3days') and transfer.validated == 0 %}
			      			<tr class="transfer-urgent warning">
			      		{% else %}
			      			<tr>
			    		{% endif %}
			    	{% endif %}
			      		<td>{{ transfer.id }}</td>
			      		<td>{{ transfer.employee.name }}#{{ transfer.employee.id }}</td>
			      		<td>{{ transfer.employee.defaultTeam.departement.name }}</td>
			      		<td>{{ transfer.departement.name }}</td>
			      		<td>{% if transfer.validated == 1 %}{{ transfer.activity.name }}{% else %}
			      			{%  if transfer.validated >= 2 %}-
			      			{% else %}undefined{% endif %}{% endif %}</td>
			      		<td>{{ transfer.totalHours }}</td>
			      		<td>{{ transfer.dateStartString }}</td>
			      		<td>{% if transfer.validated == 1 %}
			      			<i style="color: green;" class="glyphicon glyphicon-ok-sign"> </i>{% else %}
			      			{%  if transfer.validated >= 2 %} <i style="color: red;" class="glyphicon glyphicon-remove-sign"> </i>
			      			{% else %} <i style="color: #f60;" class="glyphicon glyphicon-question-sign"> </i> {% endif %}{% endif %}
						</td>
						<td>{% if ((transfer.departement.id == usrDepId and is_granted('ROLE_TRANSFER_EDIT')) or is_granted('ROLE_ADMIN')) and transfer.validated == 0 %}
							<a href="{{ path('se_transfer_accept', {'transfer_id': transfer.id }) }}" role="button" class="btn btn-success btn-sm">Accept</a>
							<a href="{{ path('se_transfer_refuse', {'transfer_id': transfer.id }) }}" role="button" class="btn btn-warning btn-sm">Refuse</a>
							{% endif %}
						</td>
					</tr>
				{% endif %}
			    {% else %}
			    <tr><td> No transfer </td></tr>
			    {% endfor %}
			 </tbody>
		</table>
	</div>
	{#{% if usrDepId != -1 or is_granted('ROLE_ADMIN') %}
	<a href="{{ path('se_transfer_add') }}" role="button"
	class="btn btn-primary">Ask for new transfer</a>
	{% endif %} #}
</div>


{% endblock %}