{% extends "SETransferBundle::layout.html.twig" %}

{% block title %}
  Choose transfer activity - {{ parent() }}
{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block setransfer_header %}
  
  <header class="h-sap">
  	<div class="line"></div>
  	<h2><i class="glyphicon glyphicon-retweet"></i> Define transfer activity</h2>
  </header>

{% endblock %}

{% block setransfer_body %}
<form style="color: black;" method="POST">
<h5>Employee: {{ transfer.employee.name }}</h5>
<h5>Date: {{ transfer.dateStart.format('d/m/Y') }}</h5>
<h5>Team: {{ transfer.team.name }}</h5>
<h5>Shift: {{ transfer.shift.identifier }}</h5>
<h5>Hours: {{ transfer.totalHours }}</h5>
{{ form_start(form) }}
	{{ form_errors(form) }}
    {{ form_row(form.activity) }}
    <button type="submit" class="btn btn-primary">Confirm transfer</button>
{{ form_end(form) }}
</form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}