{% extends "SEPerformanceBundle::layout.html.twig" %}

{% block title %}{{ employee.name }} - Review{% endblock %}

{% block seperformance_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-dashboard"> </i> Performance Dashboard</h2>
	</header>
{% endblock %}

{% block seperformance_body %}
<h4>{{ employee.name }} ({{ employee.sesa }})</h4>
<h5>Graphs incoming.</h5>
<div class="well well-black col-md-2">
	<h5>MONTHLY REPORT</h5>
	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<th>Transfer order lines</th>
					<td>{{ data['TO'] }}</td>
				</tr>
			    <tr>
					<th>Total hours</th>
					<td>{{ data['Hours'] }}</td>
				</tr>
			    <tr>
					<th>Total regular hours</th>
					<td>{{ data['Regular'] }}</td>
				</tr>
			    <tr>
					<th>Total overtime hours</th
					><td>{{ data['Overtime'] }}</td>
				</tr>
			    <tr>
					<th>Absent days</th>
					<td>{{ data['Absent'] }}</td>
				</tr>
			    <tr>
					<th>Training hours</th>
					<td>{{ data['Training'] }}</td>
				</tr>
			    <tr>
					<th>Transfer out hours</th>
					<td>{{ data['Transfer'] }}</td>
				</tr>
			 </tbody>
		</table>
	</div>
	<div>
	(todo) Overtime of the 7 last days ? Last week ? Current week ?
	</div>
</div>
<div class="well well-black col-md-10">
	<h5>DAILY-TO-DATE PRODUCTIVITY</h5>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					{%  for d in dates %}
					<th>{{ d.format('d') }}</th>
					{% endfor %}
				</tr>
			</thead><tr>
				{% for day in month %}
			    <td>
			      	<div>{{ day['Productivity'] }}</div>
				</td>
			    {% endfor %}
			</tr>
		</table>
	</div>
</div>
<div class="well well-black col-md-12">
	<h5>ACTIVITIES USAGE & EFFICIENCY</h5>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					{%  for i, a in activities %}
					<th>{{ i }}</th>
					{% endfor %}
				</tr>
			</thead><tr>
				{% for a in activities %}
			    <td>
			      	<div>{{ a }}</div>
				</td>
			    {% endfor %}
			</tr>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}