{% extends "SEPerformanceBundle::layout.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block seperformance_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-dashboard"> </i> Performance Dashboard</h2>
	</header>
{% endblock %}

{% block seperformance_body %}
<div class="well well-black col-md-12">
	<div class="well well-black col-md-9">
		<form class=form-inline method="POST">
			<a href="{{ path('se_performance_homepage') }}">
				<button type="button" class="btn btn-default">Month</button></a>
			<button type="button" class="btn btn-primary">Week</button>
	  		<div class="form-group">
	    		<label for="exampleInputEmail1">Year:</label>
	    		<input type="number" class="form-control" name="year-picker" value="2017">
	  		</div>
	  		<button type="submit" class="btn btn-success">Go</button>
	  		<h5>{{ message }}</h5>
	  	<form/>
	</div>
</div>
<div class="well well-black col-md-12">
	<div class="table-responsive">
		<h4>Departement: {% if departement is null %}All{% else %}{{ departement.name }} #{{ departement.id }}{% endif %}</h4>
		<h4>Team: {% if team is null %}None{% else %}
			{{ team.name }} #{{ team.id }} ({{ listEmployees|length }} employees){% endif %}</h4>
		<table id="imports" class="table">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Details</th>
					{%  for d in dates %}
					<th>{{ d.format('d-m') }}</th>
					{% endfor %}
				</tr>
				</thead>
			<tbody>
				{% for employee in listEmployees %}
			      		<tr>
			      			<td><a href="{{ path('se_performance_detail', {'employee_id': employee.id }) }}">{{ employee.name }}</a></td>
			      			<td>
			      				<div>TO_Confirmed</div>
			      				<div>Productivity</div>
			      				<div>Worked_hours</div>
			      				<div>Overtime_hours</div>
			      			</td>
			      			{% for day in employeeData[employee.id] %}
			      			<td>
			      				<div>{% if day['Worked'] > 0 %}{{ day['TO Confirmed'] }}{% else %}-{% endif %}</div>
			      				<div>{% if day['Worked'] > 0 %}{{ day['Productivity'] }}{% else %}-{% endif %}</div>
			      				<div class="{% if day['Worked'] > 0 %}bg-success{% endif %}">
			      					{% if day['Worked'] > 0 %}{{ day['Worked'] }}{% else %}-{% endif %}</div>
			      				<div>{% if day['Overtime'] > 0 %}{{ day['Overtime'] }}{% else %}-{% endif %}</div>
			      			</td>
			    			{% endfor %}
						</tr>
			    {% else %}
			    	<tr><td> No employee listed in your departement </td></tr>
			    {% endfor %}
			 </tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}