{% extends "SEPerformanceBundle::layout.html.twig" %}

{% block title %}{{ employee.name }} - Performance Review{% endblock %}

{% block seperformance_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-dashboard"> </i> Performance Dashboard: {{ employee.name }} ({{ employee.sesa }})</h2>
	</header>
{% endblock %}

{% block seperformance_body %}
<div class="well well-black col-md-3">
	<h5>YEARLY REPORT: {{ year }}</h5>
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Transfer order lines</th>
					<td>{{ data['TO'] }}</td>
				</tr>
			    <tr>
					<th>Total hours</th>
					<td>{{ data['Hours'] }}</td>
				</tr>
			    <tr>
					<th>Total regular hours</th>
					<td>{{ data['Regular'] }}</td>
				</tr>
			    <tr>
					<th>Total overtime hours</th
					><td>{{ data['Overtime'] }}</td>
				</tr>
			    <tr>
					<th>Absent days</th>
					<td>{{ data['Absent'] }}</td>
				</tr>
			    <tr>
					<th>Training hours</th>
					<td>{{ data['Training'] }}</td>
				</tr>
			    <tr>
					<th>Transfer out hours</th>
					<td>{{ data['Transfer'] }}</td>
				</tr>
			 </tbody>
		</table>
	<div id="graphOT" style="width:100%; height:200px;"></div>
	<script type="text/javascript">
	$(function () { 
	    var myChart = Highcharts.chart('graphOT', {
	        chart: {
	            type: 'column'
	        },
	        title: {
	            text: 'OVERTIME OVER THE WEEK'
	        },
	        xAxis: {
	            categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
	        },
	        yAxis: {
	            title: { text: 'Hours' }
	        },
	        series: [{
	            name: 'Overtime',
	            showInLegend: false,
	            data: {{ weeklyOvertime|json_encode|raw }}
	        }]
	    });
	});
	</script>
</div>
<div class="well well-black col-md-9">
	<form class=form-inline method="POST">
		<a href="{{ path('se_performance_detail', {'employee_id': employee.id }) }}">
			<button type="button" class="btn btn-default">Month</button></a>
		<button type="button" class="btn btn-primary">Week</button>
  		<div class="form-group">
    		<label for="exampleInputEmail1">Year:</label>
    		<input type="number" class="form-control" name="year-picker" value="2017">
  		</div>
  		<button type="submit" class="btn btn-success">Go</button>
  		<h5>{{ message }}</h5>
  	<form/>
</div>
<div class="well well-black col-md-9">
	<div id="graphprod" style="width:100%; height:450px;"></div>
	<script type="text/javascript">
		$(function () { 
		    var myChart = Highcharts.chart('graphprod', {
		        chart: {
		           type: 'line'
		        },
				title: {
	          		text: 'WEEKLY PRODUCTIVITY'
		        },
		        xAxis: {
		            title: {
		                text: 'Weeks'
		            }
		        },
		        yAxis: {
		            title: {
		                text: 'Hours'
		            }
		        },
		        series: [{
		            name: 'Worked',
		            data: {{ yearData['Worked']|json_encode|raw }}
		        }, {
		            name: 'Overtime',
					data: {{ yearData['Overtime']|json_encode|raw }}
		        }, {
		            name: 'Productivity',
		            data: {{ yearData['Productivity']|json_encode|raw }}
		        //}, {
		        //    name: 'TO Confirmed',
		        //    data: {{ yearData['TO Confirmed']|json_encode|raw }}
		        }]
		    });
		});
	</script>
</div>
<div class="well well-black col-md-12">
	<div id="graphact" style="width:100%; height:400px;"></div>
	<script type="text/javascript">
		$(function () { 
		    var myChart = Highcharts.chart('graphact', {
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'ACTIVITIES USAGE & EFFICIENCY'
		        },
		        xAxis: {
		            categories: {{ activityName|json_encode|raw }}
		        },
		        yAxis: {
		            title: { text: 'Hours' }
		        },
		        series: [{
		            name: 'Activities',
		            data: {{ activityTime|json_encode|raw }}
		        },
		        {
		            name: 'Ke',
		            color: '#F8A03D',
		            data: {{ activityKe|json_encode|raw }}
		        }]
		    });
		});
	</script>
</div>
{% endblock %}
